name: Update Game GIF Daily

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-gif:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Force a daily change
        run: |
          date > last_update.txt

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add last_update.txt
          git commit -m "chore: daily update" || exit 0
          git push
